<header> 
        <div class="page-header" > 
           <div class="row">
                <div class="col-xs-3">
               	   <img src="../resource/logouabc.png" alt="logoUabc" width="80" height="115">
                </div>            
                <h1 class="col-xs-6">Universidad Aut&oacute;noma de Baja California<br><small>Facultad de Ingenier&iacute;a, Arquitectura y Diseño.</small></h1>
                <div class="col-xs-3">
               	   <img src="../resource/logofiad.png" alt="logofiad" width="80" height="115">
                </div>
           </div>
        </div>
    </header>
        