
<div ng-controller="usuarioCtrl">
<div myheader></div>
    <div class="row" id="menu">
            <div class="container">
               <span mymenu></span>
                <div class="tab-content col-md-10">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Usuarios del sistema</h3>
                        </div>
                        <div class="panel-body">
                             <table class="table table-bordered">
                                    <thead>
                                     <th>#</th>
                                     <th>Nombre(s)</th>
                                     <th>Apellidos</th>
                                     <th>Correo</th>
                                     <th>Rol</th>
                                     <th>Editar</th>
                                     <th>Eliminar</th>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="usuario in usuarios" >
                                            <td>{{usuario.id}}</td>
                                            <td>{{usuario.nombre}}</td>
                                            <td>{{usuario.apellidoPaterno}}</td>
                                            <td>{{usuario.correo}}</td>
                                            <td>{{usuario.rol}}</td>
                                            <td><button type="button" class="btn btn-primary btn-xs glyphicon glyphicon-edit" data-toggle="modal" data-target="#editar"></button></td>
                                            <td>
                                                <button type="button" class="btn btn-danger btn-xs glyphicon glyphicon-trash" data-toggle="modal" data-target="#eliminar"></button>
                                                </td>
                                        </tr>
                                    </tbody>
                             </table>
                        </div>
                    </div>
                </div><!-- tab content -->
            </div><!-- end of container -->

    </div>
  <div mydelete></div >
  <div myedit></div >
  <div myfooter></div>
</div>